#wrap {
    width: 100%;
}



/*상단&메인*/

#main {
    width: 100%;
    height: 100vh;
}

#main_in {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../image/pexels-pixabay-41949.jpg) 70% no-repeat;
}

#header {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #0D2060;
}



#header_in {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.25vw;
}

#header_in .logo {
    margin-top: 2vw;
    margin-left: 5.2vw;
    float: left;
    width: 10vw;
    height: 3.1vw;
}

#header_in .logo img {
    width: 100%;
}

#header_in .nav {
    margin: 3.1vw 0 0 17vw;
    float: left;
    width: 39vw;
    height: 30px;
}

#header_in .nav li {
    float: left;
    margin-right: 4.1vw;
}

#header_in .nav li a {
    font-size: 1.3vw;
    color: white;
    
}


#header_in .info {
    margin-top: 3.1vw;
    float: right;
    width: 17vw;
    height: 80px;
}

#header_in .info li {
    float: left;
    margin-right: 1.5vw;
}

#header_in .info li a {
    font-size: 1.2vw;
    color: white;
}

#header_in .group {
    display: none;
}

#main_in .txtbox{
    margin: 0 auto;
    width: 70%;
    height: 100px;
    text-align: center;
}

#main_in .txtbox h4{
    font-size: 40px;
    color: white;
}



#main_in .box {
    position: absolute;
    top: 35vw;
    left: 25%;
    width: 48vw;
    height: 16vw;
    background-color: #D1D0CE;
    opacity: 0.5;
}

#main_in .boxin {
    position: absolute;
    top: 33vw;
    left: 30%;
    width: 38vw;
    height: 16vw;
}

#main_in .boxin span {
    font-size: 2.8vw;
    /*60*/
    font-weight: 600;
}

#main_in .boxin p {
    margin-top: 2vw;
    width: 35vw;
    /*650*/
    height: 8vh;
    font-size: 0.9vw;
    line-height: 2.6vw;
    color: white;
   
}




/*풀다운 메뉴*/

#main_in .mn_area {
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 230px;
    background-color: #D1D0CE;
    overflow: hidden;
}

#main_in .mn_in {
    margin-top: 10px;
    margin-left: 32vw;
    width: 37vw;
    height: 200px;
}

#main_in .mn_in .sub {
    float: left;
    width: 21%;
    margin-right: 1.2vw;
}

#main_in .mn_in li {
    margin-top: 20px;

}

#main_in .mn_in li a {
    font-size: 17px;
    color: rgb(78, 78, 78);
    font-weight: 600;
}





/*사업분야*/
#business {
    margin-top: 5.2vw;
    width: 100%;
    height: 65vw;
}

#business_h {
    width: 100%;
    height: 120px;
}

#business_h h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 45px;
}

#business_b {
    width: 62.5vw;
    /*1200px*/
    height: 45vw;
    margin: 0 auto;
}

#business_b .in {
    padding-top: 60px;
    width: 100%;
}

#business_b .in li {
    float: left;
    width: 50%;
    height: 20vw;
    /*380*/
    position: relative;
    overflow: hidden;
}

#business_b .in li img {
    width: 100%;
    height: 100%;
    filter: brightness(1);
}

#business_b .in li img:hover {
    transition: all 0.4s;
    filter: brightness(0.4);
    transform: scale(1.5);
}

#business_b .in li h3 {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 1.5vw;
    color: white;
}

#business_b .in li p {
    position: absolute;
    top: 80px;
    left: 30px;
    font-size: 1.3vw;
    color: white;
}





/*에너지이야기*/
#about {
    width: 100%;
    height: 100vh;
}

#about .in {
    width: 100%;
    height: 100vh;
    position: relative;
}

#about .in img {
    width: 100%;
    height: 100%;
}

#about .in .area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0D2060;
    opacity: 0.4;
}

#about .in .data {
    position: absolute;
    top: 25%;
    left: 16.25%;
    width: 67.7%;
    height: 60%;
}

#about .in .data h2 {
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 45px;
    color: white;
}

#about .in .data ul {
    margin-left: 11%;
    text-align: center;
    color: white;
}

#about .in .data li {
    float: left;
    width: 26%;
    height: 250px;
    margin-right: 2%;
}

#about .in .data li:last-child {
    margin-right: 0;
}


#about .in .data .txtbox {
    width: 100%;
    height: 4.16vw;
    border-bottom: 4px solid white;
}

#about .in .data .txtbox h4 {
    margin-top: 30px;
    font-size: 1.6vw;
}


#about .in .data li p {
    margin-top: 30px;
    font-size: 1.8vw;
}







/*뉴스*/
#contents {
    width: 100%;
    height: 110vh;
}

#contents .conh {
    width: 100%;
    height: 200px;
}

#contents .conh h2 {
    padding-top: 120px;
    text-align: center;
    font-size: 45px;
    color: black;
}

#contents .conb {
    width: 100%;
    height: 680px;
    background-color: #c3cef1;
}

#contents .news {
    padding-top: 10px;
    margin: 0 auto;
    width: 85%;
    height: 500px;
}

#contents .news ul {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#contents .news li {
    float: left;
    width: 24.5%;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
}


#contents .news li div {
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    box-sizing: border-box;
    line-height: 30px;
}

#contents .news li h3 {
    font-size: 1.2vw;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

#contents .news li p {
    margin-top: 40px;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9vw;
    color: rgb(92, 104, 116);
    font-weight: 500;
}

#contents .news li span {
    font-size: 0.9vw;
}


#contents .area {
    margin: 0 auto;
    width: 230px;
    height: 100px;
}



#contents .area button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.btn {
    width: 100%;
    height: auto;
}

button.btn .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 60px;
    height: 60px;
    background: #7487c7;
    border-radius: 30px;
}

button.btn .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.btn .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 11px;
    width: 17px;
    height: 0.125rem;
    background: none;
}

button.btn .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -5px;
    right: -3px;
    width: 12px;
    height: 12px;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.btn .button {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 0;
    margin: 0 0 0 25px;
    color: #7487c7;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button {
    color: #fff;
}







/*인포*/

#info {
    width: 100%;
    height: 100vh;
}

#info_in {
    width: 100%;
    height: 80vh;
}


#info_in li {
    float: left;
    width: 50%;
    height: 530px;
    position: relative;
}

#info_in .contact img {
    width: 100%;
    filter: brightness(1);
}

#info_in .contact .btn1 {
    position: absolute;
    top: 16vw;
    left: 50%;
    width: 50%;
    height: 15vw;
    background-color: #0F0E30;
    opacity: 0.9;
}


#info_in .btn1 p {
    float: right;
    padding: 4.1vw 6vw;
    font-size: 2vw;
    color: #fff;
    font-weight: 600;
}

#info_in .employ img {
    width: 100%;
    filter: brightness(1);
}

#info_in .employ .btn2 {
    position: absolute;
    top: 16vw;
    left: 50%;
    width: 50%;
    height: 15vw;
    background-color: #0F0E30;
    opacity: 0.9;
}

#info_in .btn2 p {
    float: right;
    padding: 4.1vw 5vw;
    font-size: 1.8vw;
    color: #fff;
    font-weight: 600;
    line-height: 3.5vw;
}


#info_in .contact img:hover {
    width: 100%;
    transition: all 0.4s;
    filter: brightness(0.5);
}


#info_in .employ img:hover {
    width: 100%;
    transition: all 0.4s;
    filter: brightness(0.5);
}





/*하단*/
#footer {
    width: 100%;
    height: 450px;
    background-color: #0D2060;
}

#footer_h {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #D1D0CE;
}

.footer_h_in{
    margin: 0 auto;
    width: 1200px;
    height: 100px;
}

#footer_h .info {
    width: 26vw;

}

#footer_h li {
    float: left;
    margin-top: 50px;
    margin-right: 10px;
}

#footer_h li a {
    font-size: 1vw;
    color: white;
}

#footer_h .site {
    float: right;
    margin-top: 40px;
}

#footer_h .site a {
    font-size: 1.19vw;
    color: white;
}

#footer_b{
    margin: 0 auto;
    width: 1200px;
    height: 300px;
}

#footer_b .address {
    float: left;
    width: 100%;
    height: 130px;
}

#footer_b .address address {
    margin-top: 30px;
    font-size: 0.9vw;
    color: white;
    line-height: 40px;
}

#footer_b .address p {
    margin-top: 20px;
    font-size: 0.83vw;
    color: white;
}

#footer_b .logo {
    float: left;
    margin-top: 80px;
    width: 10vw;
    height: 100px;
}

#footer_b img {
    width: 100%;
}

