/*상단&메인*/


#main_in {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../image/earth-2581631.jpg) 50% 35% no-repeat;
}

#main_in .box {
    display: none;
}

#main_in .boxin {
    display: none;
}


#header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #0D2060;
    opacity: 0.7;
}

#header_in {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

#header_in .logo {
    margin-top: 3vw;
    margin-left: 5.2vw;
    float: left;
    width: 100px;
    height: 60px;
}

#header_in .logo img {
    width: 100%;
}

#header_in .nav {
    display: none;
}


#header_in .info {
    display: none;
}




#main_in .group {
    display: block;
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 400PX;
}


.menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 0;
    transition: 0.5s ease;
    z-index: 1;
    background-color: #eee;
  }

.menu .mn01{
    margin-top: 80px;
    width: 340px;
    height: 55vh;
}

.menu .mn02{
    margin-top: 30px;
    width: 300px;
    height: 20vh;
}

.menu .mn02 li{
    margin-top: 20px;
    margin-left: 30px;
}

.menu .mn01 li{
    margin-top: 20px;
    margin-left: 30px;
    width: 70%;
    height: 60px;
    border-bottom: 1px solid #666;
}

.menu a{
    font-size: 18px;
}

  
  .icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 2;
    padding: 8px 0;
    top: 20px;
    right: 16px;
    user-select: none;
    width: auto;
    margin: 0;
  }
  
  .icon .sticks {
    background: white;
    display: block;
    height: 4px;
    position: relative;
    transition: background .2s ease-out;
    width: 38px;
  }
  
  .icon .sticks:before,
  .icon .sticks:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .1s ease-out;
    width: 100%;
  }
  
  .icon .sticks:before {
    top: 10px;
  }
  
  .icon .sticks:after {
    top: -10px;
  }
  
  .check {
    display: none;
  }
  
  .check:checked~.menu {
    max-width: 340px;
  }
  
  .check:checked~.icon .sticks {
    background: transparent;
  }
  
  .check:checked~.icon .sticks:before {
    transform: rotate(-40deg);
  }
  
  .check:checked~.icon .sticks:after {
    transform: rotate(40deg);
  }
  
  .check:checked~.icon:not(.steps) .sticks:before,
  .check:checked~.icon:not(.steps) .sticks:after {
    top: 0;
  }



#main_in .txtbox{
    padding-top: 150px;
    margin: 0 auto;
    width: 50%;
    height: 200px;
    text-align: center;
    transition: all 0.4s;
}

#main_in .txtbox h4{
    font-size: 30px;
    color: white;
    animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f57927, 0 0 70px #f57927, 0 0 80px #f57927, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f57927, 0 0 35px #f57927, 0 0 40px #f57927, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }


/*사업분야*/


#business {
    width: 100%;
    height: 1200px;
}

#business_h {
    width: 100%;
    height: 100px;
}

#business_h h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
}

#business_b {
    width: 80%;
    height: 1100px;
    margin: 0 auto;
}

#business_b .in {
    padding-top: 40px;
    width: 100%;
}

#business_b .in li {
    float: left;
    width: 100%;
    height: 220px;
    /*380*/
    margin-bottom: 20px;
    position: relative;
}

#business_b .in li img {
    width: 100%;
    height: 100%;
    filter: brightness(1);
}

#business_b .in li img:hover {
    transition: all 0.4s;
    filter: brightness(0.4);
}

#business_b .in li h3 {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    color: white;
}

#business_b .in li p {
    position: absolute;
    top: 80px;
    left: 30px;
    font-size: 18px;
    color: white;
}





/*에너지이야기*/

#about {
    width: 100%;
    height: 400px;

}

#about .in {
    width: 100%;
    height: 400px;
    position: relative;
}

#about .in img {
    width: 100%;
    height: 100%;
}

#about .in .area {
    display: none;
}

#about .in .data {
    position: absolute;
    top: 18%;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: rgb(218, 83, 15);
}

#about .in .data h2 {
    margin-top: 30px;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 30px;
    color: white;
}

#about .in .data div {
    margin: 0 auto;
    width: 90%;
    height: 60%;
}

#about .in .data li {
    float: left;
    width: 29%;
    height: 230px;
    margin-right: 1%;
}


#about .in .data .txtbox {
    width: 100%;
    height: 40px;
    border-bottom: 4px solid white;
}

#about .in .data .txtbox h4 {
    margin-top: 20px;
    font-size: 15px;
}


#about .in .data li p {
    margin-top: 15px;
    font-size: 13px;
}





/*뉴스*/
#contents {
    width: 100%;
    height: 700px;
}

#contents .conh {
    width: 100%;
    height: 120px;
}

#contents .conh h2 {
    padding-top: 80px;
    text-align: center;
    font-size: 30px;
}

#contents .conb {
    padding-top: 30px;
    width: 100%;
    height: 500px;
    background-color: #c3cef1;
}

#contents .news {
    margin: 0 auto;
    width: 70%;
    height: 400px;
}

#contents .news ul {
    display: block;
}

#contents .news li {
    float: left;
    width: 50%;
    height: 180px;
    background-color: white;
    border: 1px solid #ccc;
}


#contents .news li div {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
    line-height: 30px;
}

#contents .news li h3 {
    font-size: 15px;
}

#contents .news li p {
    margin-top: 60px;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9vw;
    color: rgb(92, 104, 116);
    font-weight: 500;
}

#contents .news li span {
    font-size: 0.9vw;
}



#contents .area {
    display: none;
}


#contents .area button {
    display: none;
}






/*인포*/

#info {
    width: 100%;
    height: 650px;
}

#info_in {
    width: 70%;
    height: 550px;
    margin: 0 auto;
}


#info_in li {
    margin-top: 30px;
    float: left;
    width: 100%;
    height: 250px;
    position: relative;
}

#info_in .contact img {
    width: 100%;
}

#info_in .contact .btn1 {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #0F0E30;
    opacity: 0.9;
}


#info_in .btn1 p {
    float: right;
    padding: 15px 30px;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

#info_in .employ img {
    width: 100%;
}

#info_in .employ .btn2 {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #0F0E30;
    opacity: 0.9;
}

#info_in .btn2 p {
    float: right;
    padding: 15px 20px;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
}


#info_in .contact img:hover {
    display: none;
}


#info_in .employ img:hover {
    display: none;
}




/*하단*/
#footer {
    width: 100%;
    height: 600px;
    background-color: #0D2060;
}


#footer_h {
    width: 100%;
    height: 100px;
    border-bottom: transparent;
}


.footer_h_in{
    margin: 0 auto;
    width: 80%;
    height: 100px;
}

#footer_h .info {
    width: 100%;
}

#footer_h li {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer_h li a {
    font-size: 15px;
    color: white;
}

#footer_h .site {
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 40px;
    border-bottom: 1px solid #fff;
}

#footer_h .site a {
    font-size: 18px;
    color: white;
}

#footer_b {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#footer_b .address {
    float: left;
    width: 100%;
    height: 250px;
}

#footer_b .address address {
    margin-top: 40px;
    font-size: 14.8px;
    color: white;
    line-height: 40px;
}

#footer_b .address p {
    margin-top: 50px;
    font-size: 12px;
    color: white;
}

#footer_b .logo {
    margin-left: 30%;
    margin-top: 70px;
    width: 40%;
    height: 100px;
}

#footer_b img {
    width: 100%;
}