#header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #0D2060;
}



#header_in {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

#main_in .box {
    display: none;
}

#main_in .boxin {
    display: none;
}






.footer_h_in{
    margin: 0 auto;
    width: 95%;
    height: 100px;
}


#footer_b{
    margin: 0 auto;
    width: 95%;
    height: 300px;
}
